/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-welcome);
  color: var(--ifm-font-base-color);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.headshot {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid black;
  margin-bottom: 1rem;
}

.shapeFill {
  fill: var(--ifm-color-primary-welcome);
}

.shapeFillBlack {
  fill: var(--ifm-color-primary-welcome);
}

.topShape{
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.bottomShape{
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}